<section id="about" class="pb-0">
    <div class="container">
      <div class="row text-center">
          <div class="col-lg-8 mx-auto">
              <h2 class="h1">
                  We Develop Digital Strategies <br> Products and Services.
              </h2>
              <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-70 mx-auto"></div>
              <p>
                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper is per tem por legere me that doming vulputate velit esse molestie possim. wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud exerci tation ullamcorper. Nam is tempor cum soluta nobis eleifend option congue is nihil imper.
              </p>
              <a href="" class="btn btn-primary btn-rounded mt-4">More About Us</a>
          </div>
           <div class="col-12 u-mt-70 text-center">
           <img src="assets/img/startup/s-1.png" alt="">
       </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
  </section> <!-- END section-->