<section class="u-py-80" style="background:#273f5b url(assets/img/startup/bg-1.png) no-repeat;background-position: center center;">
    <div class="container">
        <div class="row text-center">
        
            <div class="col-lg-3 col-md-6 u-my-20 text-white">
               <h4 class="mb-0 u-fs-60 text-green">
                   4670+
               </h4>
               <p class="u-fs-20">
                   Completed Projects
               </p>
            </div> <!-- END col-lg-3 col-md-6-->
        
            <div class="col-lg-3 col-md-6 u-my-20 text-white">
               <h4 class="mb-0 u-fs-60 text-green">
                   7980+
               </h4>
               <p class="u-fs-20">
                   Business Solutions
               </p>
            </div> <!-- END col-lg-3 col-md-6-->
        
            <div class="col-lg-3 col-md-6 u-my-20 text-white">
               <h4 class="mb-0 u-fs-60 text-green">
                   170+
               </h4>
               <p class="u-fs-20">
                   Available Country
               </p>
            </div> <!-- END col-lg-3 col-md-6-->
        
            <div class="col-lg-3 col-md-6 u-my-20 text-white">
               <h4 class="mb-0 u-fs-60 text-green">
                   10M+
               </h4>
               <p class="u-fs-20">
                   Users Worldwide
               </p>
            </div> <!-- END col-lg-3 col-md-6--> 			
        </div> <!-- END row-->
    </div> <!-- END container-->
</section>       