<section id="contact" style="background:#0081ff url(assets/img/startup/bg-4.png) no-repeat; background-position: center center;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2 class="h1 text-center text-white u-mb-30">
					Do You Want to Start a <br> New Project?
				</h2>
				<div class="u-h-4 u-w-50 bg-white rounded u-mb-70 mx-auto"></div>
				<form action="" method="POST">
					<div class="row">
						<div class="col-md-6 u-mb-30">
							<input type="text" placeholder="Your name*">
						</div>
						<div class="col-md-6 u-mb-30">
							<input type="email" placeholder="Your email*">
						</div>
						<div class="col-md-6 u-mb-30">
							<input type="tel" placeholder="Phone number">
						</div>
						<div class="col-md-6 u-mb-30">
							<input type="tel" placeholder="Your website">
						</div>
						<div class="col-12 u-mb-30">
							<textarea rows="5" placeholder="Message"></textarea>
						</div>
					</div> <!-- END row-->
					<div class="text-center">
						<button class="btn btn-white"> Send Request</button>
					</div>
				</form>
			</div> <!-- END col-lg-8-->
		</div> <!-- END row-->
	</div> <!-- END container-->
</section>