<section id="features">  
    <div class="container">
     <div class="row">
          <div class="col-12 text-center">
           <h2 class="h1 text-capitalize">
               Solutions in <span class="text-primary u-fw-700">3</span> easy step
           </h2>
           <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-70 mx-auto"></div>
          </div>
          <div class="col-12">	
              <ul class="nav nav-tabs justify-content-center tabs-v3 text-center u-ff-dosis u-fw-600 u-fs-20" role="tablist">
                  <li class="nav-item mx-2">
                      <a class="nav-link active p-4" data-toggle="tab" href="#tab1_1" role="tab">
                          <span class="u-fs-md-30 d-block mb-1">01</span>
                          Join
                      </a>
                  </li>
                  <li class="nav-item mx-2">
                      <a class="nav-link p-4" data-toggle="tab" href="#tab1_2" role="tab">
                          <span class="u-fs-md-30 d-block mb-1">02</span>
                          Login
                      </a>
                  </li>
                  <li class="nav-item mx-2">
                      <a class="nav-link p-4" data-toggle="tab" href="#tab1_3" role="tab">
                          <span class="u-fs-md-30 d-block mb-1">03</span>
                          Cracking
                      </a>
                  </li>
              </ul>
          </div> <!-- END col-12 -->
          
          <div class="col-12">
              <div class="tab-content">
                  <div class="tab-pane fade show active" id="tab1_1">
                      <div class="row u-my-70 align-items-center">
                          <div class="col-md-6 mb-5">
                              <img src="assets/img/startup/s-2.png" alt="">
                          </div> <!-- END col-md-6 -->
                          <div class="col-md-6">
                              <h2 class="mb-4">
                                  Present Your Startup With Style And Easy
                              </h2>
                              <p>
                                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate velit esse molestie  possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud.
                              </p>
                              <ul class="list-unstyled u-fw-600 u-lh-2 u-mt-30">
                                  <li><i class="fa fa-check text-primary mr-2"></i>Professional and easy-to-use software</li>
                                  <li><i class="fa fa-check text-primary mr-2"></i>Setup and installations takes ten minutes</li>
                                  <li><i class="fa fa-check text-primary mr-2"></i>Perfect for any device with pixel-perfect design</li>
                           </ul>
                          </div> <!-- END col-md-6 -->
                      </div> <!-- END row-->
                  </div> <!-- END tab-pane-->
                  <div class="tab-pane fade" id="tab1_2">
                      <div class="row u-my-70 align-items-center">
                          <div class="col-md-6 mb-5">
                              <img src="assets/img/seo/s-3.png" alt="">
                          </div> <!-- END col-md-6 -->
                          <div class="col-md-6">
                              <h2 class="mb-4">
                                  We Provide Three Steps Business Solutions
                              </h2>
                              <p>
                                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate velit esse molestie  possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud.
                              </p>
                              <ul class="list-unstyled u-fw-600 u-lh-2 u-mt-30">
                                  <li><i class="fa fa-check text-primary mr-2"></i>Professional and easy-to-use software</li>
                                  <li><i class="fa fa-check text-primary mr-2"></i>Setup and installations takes ten minutes</li>
                                  <li><i class="fa fa-check text-primary mr-2"></i>Perfect for any device with pixel-perfect design</li>
                           </ul>
                          </div> <!-- END col-md-6 -->
                      </div> <!-- END row-->
                  </div> <!-- END tab-pane-->
                  <div class="tab-pane fade" id="tab1_3">
                      <div class="row u-my-70 align-items-center">
                          <div class="col-md-6 mb-5">
                              <img src="assets/img/startup/s-2.png" alt="">
                          </div> <!-- END col-md-6 -->
                          <div class="col-md-6">
                              <h2 class="mb-4">
                                  It's as easy as 1 2 3 to get start
                              </h2>
                              <p>
                                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate velit esse molestie  possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud.
                              </p>
                              <ul class="list-unstyled u-fw-600 u-lh-2 u-mt-30">
                                  <li><i class="fa fa-check text-primary mr-2"></i>Professional and easy-to-use software</li>
                                  <li><i class="fa fa-check text-primary mr-2"></i>Setup and installations takes ten minutes</li>
                                  <li><i class="fa fa-check text-primary mr-2"></i>Perfect for any device with pixel-perfect design</li>
                           </ul>
                          </div> <!-- END col-md-6 -->
                      </div> <!-- END row-->
                  </div> <!-- END tab-pane-->
              </div> <!-- END tab-content-->
          </div> <!-- END col-12-->
          
     </div> <!--END row-->
    </div> <!-- END container-->
  </section> <!-- END section-->