<body id="top">
    <!--[if lt IE 8]>
    <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->    
     <header class="header bg-header">
      <div class="container">
        <nav class="navbar navbar-expand-lg">
         
          <a class="navbar-brand" href="index.html">
              <img src="assets/img/front/fixagraphlogo.svg" alt="fixagraph">
          </a>
          
                <button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
                  <div class="hamburger hamburger--spin js-hamburger">
                        <div class="hamburger-box">
                          <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#" data-scrollto="pricing">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link btn btn-sm btn-rounded btn-green u-w-110" href="#" data-scrollto="sign-up">Signup</a>
              </li>
            </ul>
          </div>
        </nav>
      </div> <!-- END container-->
    </header> <!-- END header-inverse -->