<section>
<div class="container">
	<div class="row">
		<div class="col-lg-5 my-4 ">
			<img src="assets/img/how-work/sc-1.png" alt="">
		</div>
		<div class="col-lg-5  my-4 ml-auto">
			<h4 class="u-w-50 u-h-50 bg-primary rounded-circle u-flex-center text-white box-shadow-primary u-mb-20">
				01
			</h4>
			<h2>
				Streamline Your Workflow
			</h2>
			<div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40"></div>
			<p>
				Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate velit esse molestie  possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud. assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud.
			</p>
		</div>
	</div> <!-- END row-->
	
	<hr class="u-my-md-80">
	
	<div class="row">
		<div class="col-lg-5  my-4 mr-auto">
			<h4 class="u-w-50 u-h-50 bg-primary rounded-circle u-flex-center text-white box-shadow-primary u-mb-20">
				02
			</h4>
			<h2>
				Solution in 3 easy step
			</h2>
			<div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40"></div>
			<p>
				Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate velit esse molestie  possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud. assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud.
			</p>
		</div>
		<div class="col-lg-5 my-4 ">
			<img src="assets/img/how-work/sc-1.png" alt="">
		</div>
	</div> <!-- END row-->
	<hr class="u-my-md-80">
		<div class="row">
		<div class="col-lg-5 my-4 ">
			<img src="assets/img/how-work/sc-1.png" alt="">
		</div>
		<div class="col-lg-5  my-4 ml-auto">
			<h4 class="u-w-50 u-h-50 bg-primary rounded-circle u-flex-center text-white box-shadow-primary u-mb-20">
				03
			</h4>
			<h2>
				Streamline Your Workflow
			</h2>
			<div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40"></div>
			<p>
				Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate velit esse molestie  possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud. assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud.
			</p>
		</div>
	</div> <!-- END row-->
	
</div> <!-- END container-->
</section>



<hr class="m-0">


<section>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="h1">
					Get Started Now
				</h2>
				<div class="u-h-4 u-w-50 bg-primary rounded mt-4 mx-auto u-mb-40"></div>
				<p>
					You can contact us with anything related to our Products. We'll get in touch <br> with you as soon as possible. 
				</p>
			</div> <!-- END col-12-->
		</div> <!-- END row-->
		<form class="row mt-5" action="" method="">
			<div class="col-md-4">
				<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
					<div class="input-group-addon bg-white border-0 pl-4 pr-0">
						<span class="icon icon-User text-primary"></span>
					</div>
					<input type="text" class="form-control border-0 p-3" placeholder="Your fullname">
				</div>
			</div> <!-- END col-md-4 -->
			<div class="col-md-4">
				<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
					<div class="input-group-addon bg-white border-0 pl-4 pr-0">
						<span class="icon icon-Mail text-primary"></span>
					</div>
					<input type="text" class="form-control border-0 p-3" placeholder="Your email">
				</div>
			</div> <!-- END col-md-4 -->
			<div class="col-md-4">
				<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
					<div class="input-group-addon bg-white border-0 pl-4 pr-0">
						<span class="icon icon-ClosedLock text-primary"></span>
					</div>
					<input type="text" class="form-control border-0 p-3" placeholder="Password">
				</div>
			</div> <!-- END col-md-4 -->
			<div class="col-12 text-center u-mt-30">
				<button class="btn btn-primary btn-rounded u-w-170">Get Started</button>
			</div>
		</form> <!-- END row-->
	</div> <!-- END container-->
</section>
