<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-white box-shadow-v1 rounded bg-white p-3 p-md-5">
					<h2 class="h1 text-center">
						Subscribe to Our Newsletter
					</h2>
					<form class="form-inline justify-content-center my-5 subsribe-rounded">
						<div class="form-group">
							<input type="email" class="form-control px-4 u-rounded-50 u-h-55" placeholder="Enter your email address" required>
						</div>
						<button type="submit" class="btn btn-rounded btn-primary u-h-55">
							Subscribe Now
						</button>
					</form>
				</div>
			</div> <!-- END col-12-->
		</div> <!-- END row-->
	</div> <!-- END container-->
</section>