<section id="pricing">
	<div class="container text-center">
		<div class="row">
			<div class="col-12">
				<h2 class="h1">
					Choose the Plan that You <br> Really Need!
				</h2>
				<div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
			</div>
		</div> <!-- END row-->
		<div class="row">
		
			<div class="col-md-4 mt-4">
				<div class="bg-white box-shadow-v2 rounded py-5">
				<img src="assets/img/svg/plane-up.svg" class="u-h-90" alt="">
					<h4 class="u-mb-35 u-mt-15">
						Fixagraph Four
					</h4>
					<hr class="m-0">
					<ul class="list-unstyled u-py-30 u-lh-2">
						<li><strong>Weekly newsletter</strong> access</li>
						<li><strong>1-day per week</strong> guided writing-hour</li>
						<li><strong>400-words per month</strong> substantive editing</li>
					</ul>
					<hr class="m-0">
					<h2 class="u-fs-60 u-fw-600 u-my-20">
						<sup class="u-fs-20">$</sup>44
					</h2>
					<a href="" class="btn btn-white btn-rounded">
						Get Started
					</a>
				</div>
			</div> <!-- END col-md-4-->
		
			<div class="col-md-4 mt-4">
				<div class="bg-white box-shadow-v2 rounded py-5">
				<img src="assets/img/svg/phone-book.svg" class="u-h-90" alt="">
					<h4 class="u-mb-35 u-mt-15">
						Fixagraph Core
					</h4>
					<hr class="m-0">
					<ul class="list-unstyled u-py-30 u-lh-2">
							<li><strong>Weekly newsletter</strong> access</li>
							<li><strong>3-days per week</strong> guided writing-hour</li>
							<li><strong>1000-words per month</strong> substantive editing</li>
							<li><strong>250 rollover words</strong> from previous month</li>						
					</ul>
					<hr class="m-0">
					<h2 class="u-fs-60 u-fw-600 u-my-20 text-primary">
						<sup class="u-fs-20">$</sup>99
					</h2>
					<a href="" class="btn btn-white btn-rounded">
						Get Started
					</a>
				</div>
			</div> <!-- END col-md-4-->
		
			<div class="col-md-4 mt-4">
				<div class="bg-white box-shadow-v2 rounded py-5">
				<img src="assets/img/svg/dollar-bag.svg" class="u-h-90" alt="">
					<h4 class="u-mb-35 u-mt-15">
						Fixagraph More
					</h4>
					<hr class="m-0">
					<ul class="list-unstyled u-py-30 u-lh-2">
						<li><strong>Weekly newsletter</strong> access</li>
						<li><strong>5-days per week</strong> guided writing-hour</li>
						<li><strong>2000-words per month</strong> substantive editing</li>
						<li><strong>500 rollover words</strong> from previous month</li>
						<li><strong>Monthly coaching session</strong> (a $100 value)</li>
					</ul>
					<hr class="m-0">
					<h2 class="u-fs-60 u-fw-600 u-my-20">
						<sup class="u-fs-20">$</sup>199
					</h2>
					<a href="" class="btn btn-white btn-rounded">
						Get Started
					</a>
				</div>
			</div> <!-- END col-md-4-->
										
		</div> <!-- END row-->
	</div> <!-- END container-->
</section> <!--END section-->