<section id="reviews" style="background:#0081ff url(assets/img/startup/bg-3.png) no-repeat;background-position: center center;">  
    <div class="container">
    
     <div class="row">
           <div class="col-12 text-center">
               <h2 class="h1 text-white">
                   What Our Customers Say 
               </h2>
               <div class="u-h-4 u-w-50 bg-white rounded mt-4 u-mb-60 mx-auto"></div>
           </div>  <!-- END col-12--> 
       </div><!--END row-->
  
          <div data-init="carousel" data-slick='{ "slidesToShow":1, "dots":true, "arrows":false, "dotsClass":"slick-dots dots-white text-center"}' data-slick-margin="30">
  
          <div class="p-5 rounded bg-white text-center box-shadow-v2 my-4">
              <img class="rounded-circle mx-auto mb-4 u-w-100" src="assets/img/person/1.jpg" alt="">
              <h4>
                  Kenelia Deshmukh
              </h4>
              <p class="text-muted">
                  Creative Director
              </p>
              <p>
                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
              </p>
          </div>
  
          <div class="p-5 rounded bg-white text-center box-shadow-v2 my-4">
              <img class="rounded-circle mx-auto mb-4 u-w-100" src="assets/img/person/2.jpg" alt="">
              <h4>
                  Dorian Black
              </h4>
              <p class="text-muted">
                  Manager
              </p>
              <p>
                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
              </p>
          </div>
  
          <div class="p-5 rounded bg-white text-center box-shadow-v2 my-4">
              <img class="rounded-circle mx-auto mb-4 u-w-100" src="assets/img/person/3.jpg" alt="">
              <h4>
                  David Case
              </h4>
              <p class="text-muted">
                  Designer
              </p>
              <p>
                  Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
              </p>
          </div>
       </div> <!-- END carosel-->		
    </div> <!-- END container-->
  </section> <!-- END section-->