<section class="bg-gray-v2 u-pb-80">  
    <div class="container">
     <div class="row">
          <div class="col-lg-4 col-md-6 u-mb-70">
          <div class="media">
              <span class="icon icon-Briefcase text-primary u-fs-50 mr-4"></span>
                  <div class="media-body">
                      <h4>
                          Digital Branding
                      </h4>
                      <p>
                          Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
                      </p>
                  </div>
              </div>
          </div> <!-- END col-lg-4 col-md-6-->
          
          <div class="col-lg-4 col-md-6 u-mb-70">
          <div class="media">
              <span class="icon icon-Web text-primary u-fs-50 mr-4"></span>
                  <div class="media-body">
                      <h4>
                          Web Solutinos
                      </h4>
                      <p>
                          Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
                      </p>
                  </div>
              </div>
          </div> <!-- END col-lg-4 col-md-6-->
          
          <div class="col-lg-4 col-md-6 u-mb-70">
          <div class="media">
              <span class="icon icon-Dollars text-primary u-fs-50 mr-4"></span>
                  <div class="media-body">
                      <h4>
                          Financial Advice
                      </h4>
                      <p>
                          Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
                      </p>
                  </div>
              </div>
          </div> <!-- END col-lg-4 col-md-6-->
          
          <div class="col-lg-4 col-md-6 u-mb-70">
          <div class="media">
              <span class="icon icon-Headset text-primary u-fs-50 mr-4"></span>
                  <div class="media-body">
                      <h4>
                          Dedicated Support
                      </h4>
                      <p>
                          Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
                      </p>
                  </div>
              </div>
          </div> <!-- END col-lg-4 col-md-6-->
          
          <div class="col-lg-4 col-md-6 u-mb-70">
          <div class="media">
              <span class="icon icon-Resume text-primary u-fs-50 mr-4"></span>
                  <div class="media-body">
                      <h4>
                          Business Consulting
                      </h4>
                      <p>
                          Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
                      </p>
                  </div>
              </div>
          </div> <!-- END col-lg-4 col-md-6-->
          
          <div class="col-lg-4 col-md-6 u-mb-70">
          <div class="media">
              <span class="icon icon-Starship2 text-primary u-fs-50 mr-4"></span>
                  <div class="media-body">
                      <h4>
                          Progress Across Projects
                      </h4>
                      <p>
                          Nam liber tempor cum soluta nois eleifend option congue is nihil tem imper per tem por legere.
                      </p>
                  </div>
              </div>
          </div> <!-- END col-lg-4 col-md-6-->
          
     </div> <!--END row-->
    </div> <!-- END container-->
  </section> <!-- END section-->
  