{{ partial "meta.html" . }}
{{ partial "header.html" . }}
{{ partial "hero.html" . }}
{{ partial "herobottom.html" . }}
{{ partial "stepbystep.html" . }}
{{ partial "socialproof.html" . }}
{{ partial "valpropctas.html" . }}	
{{ partial "pricing.html" . }}	
{{ partial "footer.html" . }}

<!--
// ////////////////////////////////////////////////
// To Reduce server request and improved page speed drastically all third-party plugin bundle in assets/js/bundle.js
// If you wanna add those manually bellow is the sequence 
// ///////////////////////////////////////////////
-->
<!--
		<script src="assets/vendor/jquery/dist/jquery.min.js"></script>
		<script src="assets/vendor/popper.js/dist/popper.min.js"></script>
		<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="assets/vendor/slick-carousel/slick/slick.min.js"></script>
		<script src="assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
		<script src="assets/vendor/isotope/dist/isotope.pkgd.min.js"></script>
		<script src="assets/vendor/parallax.js/parallax.min.js"></script>
		<script src="assets/vendor/wow/dist/wow.min.js"></script>
		<script src="assets/vendor/vide/dist/jquery.vide.min.js"></script>
		<script src="assets/vendor/typed.js/lib/typed.min.js"></script>
		<script src="assets/vendor/appear-master/dist/appear.min.js"></script>
		<script src="assets/vendor/jquery.countdown/dist/jquery.countdown.min.js"></script>
		<script src="assets/js/smoothscroll.js"></script>
-->
	
		<script src="assets/js/bundle.js"></script>
		<script src="assets/js/fury.js"></script>

		
  </body>	
</html>